<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>NetTechiesIT</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <h1>Вход в NetTechiesIT</h1>

<div id="wrapper">
	<form id="signin" method="" action="" autocomplete="off">
		<input type="text" id="user" name="user" placeholder="Логин" />
		<input type="password" id="pass" name="pass" placeholder="Пароль" />
		<button type="submit">&#xf0da;</button>
		<p>Забыли пароль?
			 <a href="#">Нажмите сюда</a>
		</p>
	</form>
</div>
  
  
</body>
</html>
