<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/js/index.js" defer></script>
    <title>NetTechiesIT</title>
</head>
<body>
    <div class="main-block">
        <div class="under-panel">
            <div class="nav-item" data-target="profile.html">
                <i class="fas fa-home"></i>
                <span>Профиль</span>
            </div>
            <div class="nav-item" data-target="chats.html">
                <i class="fa-regular fa-comment"></i>
                <span>Чаты</span>
            </div>
            <div class="nav-item" data-target="friends.html">
                <i class="fa-solid fa-user-group"></i>
                <span>Друзья</span>
            </div>
            <div class="nav-item" data-target="settings.html">
                <i class="fa-solid fa-gears"></i>
                <span>Настройки</span>
            </div>
            <div class="nav-item" data-target="project.html">
                <i class="fa-regular fa-circle-question"></i>
                <span>О проекте</span>
            </div>
        </div>
    </div>
</body>
</html>